Connected Services/ReferenceTempConversion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceConversion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceTempConversion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceConversion_ConvertirVersCelcius_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertirVersCelcius" />
  </wsdl:message>
  <wsdl:message name="IServiceConversion_ConvertirVersCelcius_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertirVersCelciusResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConversion_ConvertirVersFarh_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertirVersFarh" />
  </wsdl:message>
  <wsdl:message name="IServiceConversion_ConvertirVersFarh_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertirVersFarhResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConversion_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServiceConversion_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceConversion">
    <wsdl:operation name="ConvertirVersCelcius">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConversion/ConvertirVersCelcius" message="tns:IServiceConversion_ConvertirVersCelcius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConversion/ConvertirVersCelciusResponse" message="tns:IServiceConversion_ConvertirVersCelcius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertirVersFarh">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConversion/ConvertirVersFarh" message="tns:IServiceConversion_ConvertirVersFarh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConversion/ConvertirVersFarhResponse" message="tns:IServiceConversion_ConvertirVersFarh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConversion/GetAll" message="tns:IServiceConversion_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConversion/GetAllResponse" message="tns:IServiceConversion_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceConversion" type="tns:IServiceConversion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertirVersCelcius">
      <soap:operation soapAction="http://tempuri.org/IServiceConversion/ConvertirVersCelcius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertirVersFarh">
      <soap:operation soapAction="http://tempuri.org/IServiceConversion/ConvertirVersFarh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceConversion/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceConversion">
    <wsdl:port name="BasicHttpBinding_IServiceConversion" binding="tns:BasicHttpBinding_IServiceConversion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceTempConversion/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>