Connected Services/ReferenceTempConversion/WcfServiceTempConversion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceTempConversion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceTempConversion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConversion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conversion" nillable="true" type="tns:Conversion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversion" nillable="true" type="tns:ArrayOfConversion" />
  <xs:complexType name="Conversion">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateAppel" type="xs:dateTime" />
      <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valeur" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conversion" nillable="true" type="tns:Conversion" />
</xs:schema>